.button-view {
  margin: 0px;
  padding: 3px;
}

.button-view-hover {
  margin: 0px;
  padding: 3px;
  background-color: -st-accent-color;
  border-radius: 10px;
}

.popup-menu {
    min-width: 40px;
}
