.button-view {
  margin: 0px;
  padding: 4px;
}

.button-view-hover {
  margin: 0px;
  padding: 4px;
  background-color: -st-accent-color;
  border-radius: 12px;
}

.popup-menu {
    min-width: 50px;
}
